@model SpadCompanyPanel.Web.ViewModels.FooterViewModel


@*@Html.Action("GallerySlider", "Home")
    <div class="container-fluid @(ViewBag.ContactUsPage == null ? "contact-footer": "")">
        <div class="row">
            @if (ViewBag.ContactUsPage == null)
            {
                <div class="col-md-6 pt-5">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title">
                            <span class="text-dark">ارتباط با ما</span>
                        </h3>
                    </div>
                    @Html.Action("ContactUsForm", "Home")
                </div>
                <div class="col-md-6 mt-5 mb-3">
                    @Html.Raw(Model.Map.Description)
                </div>
            }
            else
            {
                <div class="col-md-12 mt-5 mb-3">
                    @Html.Raw(Model.Map.Description)
                </div>
            }
        </div>
    </div>*@


<style>
    .footer-row {
        font-family: 'BNazanin';
    }
</style>


<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-6 col-xs-12">
                <img src="~/Content/client/wp-content/themes/uniqo/img/footer-logo.png" class="footer-img" alt="">
                <div>
                    <p class="text-right">
                        @Html.Raw(Model.ShortDescription.Description)
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <h2>لینک های مفید</h2>
                <ul class="footer-list">
                    <li><a href="/">خانه</a></li>
                    <li><a href="/home/products">محصولات</a></li>
                    <li><a href="/blog">بلاگ</a></li>
                    <li><a href="/home/about">درباره ما</a></li>
                    <li><a href="/home/contactUsForm">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <h2>اطلاعات تماس</h2>
                <p class="footer-contact-txt">@Model.Address.ShortDescription</p>
                <h4 class="footer-contact-title">پشیبانی</h4>
                @if (Model.SupportPhone.ShortDescription != null)
                {
                    <p class="footer-contact-txt">

                        @Html.Raw(Model.SupportPhone.ShortDescription)

                    </p>
                }
                <h4 class="footer-contact-title">ایمیل</h4>
                @if (Model.Email.ShortDescription != null)
                {
                    <p class="footer-contact-txt">

                        @Html.Raw(Model.Email.ShortDescription)

                    </p>
                }
            </div>
        </div>
        <p class="copy-right">   طراحی شده توسط <a href="https://www.spad.co/">اسپاد </a>© </p>

    </div>

</footer>



<!-- footer -->
